.searchVideo{
  margin-bottom: 2rem;
  height: 22vh;

  &_img{
    display: flex;
    position: relative;
    cursor: pointer;

    img{
      width: 100%;
      height: 22vh;
    }

    span{
      position: absolute;
      bottom: 0.5rem;
      right: 1.1rem;
      width: 45px;
      margin: auto;
      padding: 0.2rem;
      background-color: rgba(08, 08, 08, 0.6);
      border-radius: 5px;
    }
  }

  &_details{
    cursor: pointer;
    span{
      margin-right: 10px;
    }
  }

  .title{
    cursor: pointer;
    display: block
  }
}
